._ {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 40%;
    border: 1px solid purple;
    padding: 1em 1em 1em 1em;
}

.label {
    display: flex;
    width: 100%;
    border: 1px solid red;
    justify-content: center;
}

.bottomGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    border: 1px solid red;
    padding: 1em 1em 1em 1em;
}